# Temporary file to test some commands
test.ipynb
Assignment_3__Output_FE__1st__centroid/inp_file_dir/
Assignment_3__Output_FE__1st__centroid/flow_rate_dir/
Assignment_3__Output_FE__1st__centroid/precipitation_dir/
Assignment_3__Output_FE__1st__centroid/rain_pattern_cum_dir/
Assignment_3__Output_FE__1st__centroid/graphs_pattern_dir/